@font-face {
    font-family: 'PT Sans';
    src: url("pt-sans.ttf") format("truetype");
}

body
{
    font-family: 'PT Sans';
}

h2
{
    margin-bottom: 0px;
}
table.dataTable thead tr
{
    background-color: #efefef;
}
table.dataTable tbody tr:nth-child(even)
{
    background-color: #f3f3f3;
}
table.dataTable tbody tr td
{
    text-align: center;
}